* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */

.container {
  max-width: 1200px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav>ul {
  display: flex;
  gap: 20px;
}