* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Utility */

.img-fluid {
  width: 100%;
}

/* PADDING */

.py-30 {
  padding: 30px 0;
}

/* LAYOUT */

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-link .container {
  justify-content: center;
}

.col-25 {
  width: 25%;
}

.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-50 {
  width: 50%;
}

/* position */

.p-relative {
  position: relative;
}

/* FLEX */

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* HEADER */

header {
  height: 150px;
}

header>.container {
  height: 100%;
}

nav {
  height: 100%;
  align-self: stretch;
}

nav>ul {
  display: flex;
  gap: 20px;
}

nav>ul>li {
  line-height: 150px;
  vertical-align: middle;
}

nav ul a {
  text-transform: uppercase;
  display: block;
  height: 100%;
  font-weight: bold;
  font-size: 14px;
}

nav ul a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

/* MAIN */

/* jumbo */

#jumbo {
  height: 450px;
  background-image: url(/public/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#series {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  background-color: #0282f9;
  position: absolute;
  top: -14%;
  left: 0;
}

/* content-link */

.content-link {
  background-color: #1c1c1c;
  padding: 40px 0;
}

main a {
  color: white;
  font-size: 24px;
  transition: 0.5s;
}

main a:hover {
  transform: scale(1.1);
}

/* comic-cards */

.comic-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.comic-card {
  width: calc(90% / 6);
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  cursor: pointer;
  transition: 0.5s;
}

.comic-card:hover {
  transform: scale(1.1);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.comic-card img {
  width: 150%;
  object-fit: cover;
}

.comic-card p {
  color: white;
  filter: brightness(80%);
}

.comic-card:hover p {
  filter: none;
}

/* cards */

#cards {
  background-color: #0282f9;
  padding: 40px 0;
}

#cards ul {
  display: flex;
  column-gap: 40px;
}

.card {
  display: flex;
  align-items: center;
  width: 20%;
}


.card a {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.card .image {
  width: 20%;
}

.card img {
  width: 100%;
}

.card span {
  display: inline-block;
  width: 80%;
  font-size: 14px;
  text-transform: uppercase;
}

main button {
  background-color: #0282f9;
  border: none;
  margin: 20px 0 10px;
  padding: 10px 30px 15px;
  text-transform: uppercase;
  transition: 0.5s;
}

main button::before {
  content: "load more";
  color: white;
  font-weight: bold;
}

main button:hover {
  transform: scale(1.1);
}

/* FOOTER */

#top-footer {
  background-image: url(/public/img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#top-footer h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#top-footer ul {
  margin-bottom: 20px;
}

#top-footer ul a {
  color: grey;
  transition: 0.3s;
}

#top-footer ul a:hover {
  color: white;
}

#top-footer .col-50 {
  gap: 20px;
}

#logo-stamp {
  width: 100%;
  height: 416px;
  background-image: url(../public/img/dc-logo-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* bottom footer */

#bottom-footer {
  background-color: #303030;
}

#bottom-footer button {
  background-color: #303030;
  border: 3px solid #0282f9;
  margin: 20px 0;
  padding: 15px;
  text-transform: uppercase;
  transition: 0.5s;
}

#bottom-footer button::before {
  content: "sign-up now!";
  color: white;
}

#bottom-footer button:hover {
  transform: scale(1.1);
}

#bottom-footer button a {
  color: white;
}

#follow-us {
  width: 35%;
}

#follow-us span {
  text-transform: uppercase;
  color: #0282f9;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  margin-right: 20px;
}

#follow-us ul {
  width: 100%;
  gap: 15px;
}

#follow-us ul li {
  width: 20%;
}

@media screen and (min-width: 2000px) {
  .container {
    max-width: 2000px;
  }
}